// FORCE SCROLLBAR TO AVOID WIDTH JUMPING
html
  overflow-y:scroll

// RESPONSIVE IMAGES
img
  max-width: 100%
  height: auto

// DISPLAY UTILITIES
.u-inline-block
  display:inline-block

ul.u-inline-list li
  display:inline-block

.u-fixed
  position:fixed

// POINTER
.u-pointer:hover
  cursor:pointer

// ALIGNMENT
.u-align-left
  text-align:left

.u-align-right
  text-align:right

.u-align-center
  text-align:center

// VERTICAL CENTERING
.u-holder
  display:table
  width:100%
  height:100%

.u-held
  display:table-cell
  vertical-align:middle